
*.lref
*.cache
*.cache
*.ide-shm
locationserver/.vs/locationserver/v15/.suo
location/.vs/location/DesignTimeBuild/.dtbcache
location/.vs/location/v15/Server/sqlite3/storage.ide-wal
location/.vs/location/v15/Server/sqlite3/storage.ide-shm
locationserver/.vs/locationserver/v15/.suo
locationserver/.vs/locationserver/v15/.suo
*.ide
locationserver/locationserver/obj/Debug/locationserver.csprojAssemblyReference.cache
*.ide-shm
*.cache
*.cache
*.ide-wal
